html {
    background-color: #ebeced;
    padding: 0 1em;
  
  }
  body {
    background-color: #fff;
    margin: 1em auto;
    /* max-width: 100em; */
    height: 150vh;
    width: 100%;
  }
  p, ul {
    font-family: 'Sanchez', serif;
    font-size: 19px;
    letter-spacing: 1px;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  :root {
    --mintgreen: #7AF6D1;
    --junglegreen: #1C2C30;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--junglegreen);
    height: 150px;
  }
  .logo {
    background: url('avatar.png') no-repeat;
    width: 92px;
    height: 92px;
    margin: 20px;
    border-radius: 50%;
    background-size: cover;
  }
  .title-holder {
    align-items: center;
  }
  .name {
    color: var(--mintgreen);
    font-family: 'Montserrat', serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
  }
  .designare {
    color: #ffffff;
    font-family: 'Sanchez', serif;
    text-transform: uppercase;
  }
  .content-body {
    display: flex;
    flex-direction: row;
  }
  .wrapper {
    margin: 20px;
  }
  .section-left {
    flex: 1;
    background-color: var(--mintgreen);
  }
  .section-left ul {
    list-style: none;
    margin-left: -40px;
    text-transform: capitalize;
    font-size: 19px;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    font-family: 'Montserrat', serif;
    letter-spacing: 2px;
  }
  h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Sanchez', serif;
    font-weight: normal;
    letter-spacing: 2px;
  }
  h4 {
    font-family: 'Sanchez', serif;
    font-weight: normal;
    font-size: 1.2em;
    margin-top: -10px;
    font-style: italic;
    letter-spacing: 1px;
  }
  h5{
    font-family: 'Sanchez', serif;
    font-weight: normal;
    font-size: 1.1em;
    margin-top: -8px;
    letter-spacing: 1px;
  }
  .section-right {
    flex: 2;
  }
  .section-right .wrapper {
    margin-left: 50px;
  }
  .section-right ul {
    margin-left: -20px;
  }
  .section-right h2 {
    color: var(--mintgreen);
    font-weight: bold;
  }
  .gpa {
    margin-top: -15px;
  }
  .footer {
    background-color: var(--junglegreen);
  }
  .ps {
    color: #ffffff;
  }

  .underline{
      margin-top: -10px;
      height: 5px;
      width: 140px;
      color: #1C2C30;
      background-color: #1C2C30;
      border-radius: 2px;
  }

  .stack_wrap{
    margin-top: 20px;
    display: flex ;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .stack_wrap .content1{
      width: 60px;
      height: 30px;
      color: #1C2C30;
      font-size: 22px;
  }
  .stack_wrap .content2{
    width: 60px;
    height: 30px;
    color: #1C2C30;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 20px;
}

@media screen and (max-width:700px) {
  .stack_wrap{
    margin-top: 20px;
    display: flex ;
    justify-content: space-evenly;
    flex-direction: row;
    /* width: 100%; */
  }

  .stack_wrap .content1{
      width: 40px;
      height: 20px;
      color: #1C2C30;
      font-size: 12px;
      margin-left: 0px;
  }
  .stack_wrap .content2{
    width: 40px;
    height: 20px;
    color: #1C2C30;
    font-size: 12px;
    margin-bottom: 20px;
    margin-left: 0px;
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--junglegreen);
  height: 120px;
  width: 100%;
}
.name{
  font-size: 24px;
}
.section-left{
  margin-top: -20px;
  height: 500px;
  width: 100%;
}
.section-right{
  flex: 1;
}
h2{
  font-size: 1.2em;
}
 h3{
  font-size: 1.2em;
 } h4{
  font-size: 1.2em;
 } h5{
  font-size: 1.2em;
}
.underline{
  height: 2px;
  width: 50px;
}
p{
  font-size: 1em;
  display: block;
}
.wrapper{
  margin: 2px;
}
.section-right .wrapper{
  margin-left: 5px;
}
.section-right p{
  font-size: 0.7rem;
}
.section-right h2{
  font-size: 0.7rem;
}
.section-right h3{
  font-size: 0.7rem;
}
.section-right h4{
  font-size: 0.7rem;
}
.section-right h5{
  font-size: 0.7rem;
}
.section-right{
  height: 100%;
}
.content-body{
  display: block;
  word-wrap: break-word;
}
.stack_wrap .content2{
  margin-top: 0px;
}
.section-right li{
  font-size: 0.7rem;
}
 }